body
{
	background-color:#dbdbdb;
	font-family:Arial;
	font-size:15px;
}
h1
{
	font-size:3em;
}
#TitleScreen
{
	text-align:center;
}
#GameScreen
{
	text-align: center;
}
#Time
{
	font-size:2em;
}
#Taps
{
	font-size:3em;
}
#QuitButton
{
	font-size:1.5em;
}